.root, .backgroundPane {
    -fx-background-color: #f1f1f1;
    -fx-background-radius: 15;
}

.button {
    -fx-background-color: #bcbcc0;
    -fx-background-radius: 0;

    -fx-text-fill: transparent;
}

.button:disabled {
    -fx-background-color: #8e8e93;
    -fx-opacity: 1.0;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #cdcdd1;
}

.top-left {
    -fx-background-radius: 10 0 0 0;
}

.top-right {
    -fx-background-radius: 0 10 0 0;
}

.bottom-right {
    -fx-background-radius: 0 0 10 0;
}

.bottom-left {
    -fx-background-radius: 0 0 0 10;
}

#blueScoreDisplay {
    -fx-background-color: #007aff;
    -fx-background-radius: 0 5 5 0;

    -fx-border-color: #005edd;
    -fx-border-radius: 0 6 6 0;
}

#redScoreDisplay {
    -fx-background-color: #fc3c2f;
    -fx-background-radius: 5 0 0 5;

    -fx-border-color: #d60014;
    -fx-border-radius: 6 0 0 6;
}

#blueScoreDisplay, #redScoreDisplay {
    -fx-font-family: Segoe UI;
    -fx-font-weight: bold;
    -fx-font-size: 17;
    -fx-text-fill: #f1f1f1;

    -fx-border-insets: -2;
    -fx-border-width: 3px;
}

#blueScoreDisplay:selected {
    -fx-background-image: url('/GUI/Images/crown.png');
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90% center;
}

#redScoreDisplay:selected {
    -fx-background-image: url('/GUI/Images/crown.png');
    -fx-background-size: 27px 27px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10% center;
}

#blueScoreDisplay:disabled, #redScoreDisplay:disabled {
    -fx-opacity: 1.0;
}

#playButton, #instructionsButton, #quitButton {

    -fx-text-fill: #0d0d0d;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 22;

    -fx-border-color: #0d0d0d;
    -fx-border-width: 3;
    -fx-border-insets: -1;
    -fx-border-radius: 25 0 25 0;

    -fx-background-color: #8e8e93;
    -fx-background-radius: 25 0 25 0;
}

#playButton:hover {
    -fx-background-color: #007aff;
    -fx-border-insets: -3;
    -fx-background-insets: -1;
}

#instructionsButton:hover {
    -fx-background-color: #cdcdd1;
    -fx-border-insets: -3;
    -fx-background-insets: -1;
}

#quitButton:hover {
    -fx-background-color: #fc3c2f;
    -fx-border-insets: -3;
    -fx-background-insets: -1;
}

#soundToggle {
    -fx-background-color: #cdcdd1;
    -fx-background-radius: 7;
    -fx-background-image: url('/GUI/Images/unmute.png');
    -fx-background-size: 40px 40px; /* This tames the giant! */
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;

    /* Optional: Force the button itself to be a nice 60x60 circle/square */
    -fx-min-width: 60;
    -fx-min-height: 60;
}

#soundToggle:selected {
    -fx-background-image: url('/GUI/Images/mute.png');
}

#soundToggle:hover {
    -fx-cursor: hand;
    -fx-border-color: #77777A;
    -fx-border-radius: 7;
    -fx-border-insets: -2;
    -fx-border-width: 2;
}

.hideTutorial {
    -fx-background-color: #fc3c2f;
    -fx-background-radius: 0 0 0 15;

    -fx-border-color: #d60014;
    -fx-border-radius: 0 0 0 17;
    -fx-border-insets: -2;
    -fx-border-width: 0 0 4 4;

    -fx-alignment: center;
    -fx-padding: 0 0 2 8;
}

.hideTutorial:hover {
    -fx-background-color: #ff5c52;
}

#tutorial .pagination-control {
    -fx-translate-y: -60;
    -fx-background-color: transparent;
}

.pagination .number-button {
    -fx-background-color: #77777A;
    -fx-text-fill: #0d0d0d;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.pagination .number-button:hover {
    -fx-background-color: #bcbcc0;
}

.pagination .number-button:selected {
    -fx-background-color: #007aff;
    -fx-text-fill: #f1f1f1;
}

.pagination .number-button:selected:hover{
    -fx-background-color: #005edd;
}

.pagination .page-information {
    -fx-text-fill: transparent;
}

.pagination .left-arrow,
.pagination .right-arrow {
    -fx-background-color: #0d0d0d;
    -fx-scale-x: 2;
    -fx-scale-y: 2;
}

.pagination .left-arrow-button,
.pagination .right-arrow-button {
    -fx-background-color: transparent;
}

.pagination .left-arrow-button:hover,
.pagination .right-arrow-button:hover {
    -fx-cursor: hand;
}

.pagination .left-arrow-button:hover .left-arrow,
.pagination .right-arrow-button:hover .right-arrow {
    -fx-scale-x: 2.5;
    -fx-scale-y: 2.5;
}